@font-face {
  font-family: "HankenGrotesk";   /*Can be any text*/
  src: local("HankenGrotesk-VariableFont_wght"),
    url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


